<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="BDRandomEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-NS7TGC6\SQLEXPRESS01;initial catalog=BDRandom;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="LombardEntities" connectionString="metadata=res://*/Models.LombardModel.csdl|res://*/Models.LombardModel.ssdl|res://*/Models.LombardModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-NS7TGC6\SQLEXPRESS01;initial catalog=Lombard;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>